.place__pharagraph-text{
	margin-bottom: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 163%;
}

@media screen and (min-width: 768px) and (max-width: 1020px){
	.place__pharagraph-text{
		font-size: 16px;
	}
}

@media screen and (min-width: 320px) and (max-width: 766px){
	.place__pharagraph-text{
		font-size: 16px;
		margin: 0;
	}
	.place__pharagraph-text:nth-child(odd){
		margin-bottom: 24px;
	}
}